#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>

// My weird keymap

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    behaviors {
        // See https://zmk.dev/docs/behaviors/hold-tap
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T     &kp Y &kp U &kp I &kp O &mo 3
                &hm LALT A &hm LCTRL S &hm LCMD D &hm LSHIFT F &kp G
                                        &kp H &hm RSHIFT J &hm RCMD K &hm RCTRL L &hm RALT P
                &kp Z &kp X &kp C &kp V &kp B     &kp N &kp M &kp COMMA &kp DOT &none
                                    &lt 1 SPACE &lt 2 BSPC
            >;
        };

        num_layer {
            bindings = <
                &none &kp PG_UP &kp UP &kp PG_DN &kp MINUS    &kp KP_PLUS &kp KP_N7 &kp KP_N8 &kp KP_N9 &none
                &kp ESC &kp LEFT &kp DOWN &kp RIGHT &kp TAB
                                         &kp DEL &hm RSHIFT KP_N4 &hm RCMD KP_N5 &hm RCTRL KP_N6 &hm RALT KP_N0
                &kp LG(Z) &kp LG(X) &kp LG(C) &kp LG(V) &none
                                                              &kp KP_EQUAL &kp KP_N1 &kp KP_N2 &kp KP_N3 &none
                                                     &trans  &kp BSPC
            >;
        };

        pun_layer {
            bindings = <
                &kp EXCL &kp AT &kp POUND &kp DOLLAR &kp PERCENT
                                              &kp CARET &kp AMPS &kp STAR &kp LBKT &none
                &hm LALT GRAVE &kp LCTRL &kp LCMD &caps_word &kp ESC
                                        &kp SEMI &hm RSHIFT SQT &hm RCMD SLASH &hm RCTRL BSLH &hm RALT RBKT
                &kp TILDE &kp LA(N3) &kp LA(LS(MINUS)) &kp LPAR &kp RPAR
                                        &kp COLON &kp DQT &kp QMARK &kp PIPE &none
                                        &kp RET  &trans
            >;
        };
        
        control_layer {
            bindings = <
                &none &none &none &none &out OUT_TOG                    &none &out OUT_USB &none &none &none
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                                                                        &none &none &none &none &none
                &bt BT_NXT &bt BT_PRV &bt BT_CLR &none &out OUT_BLE     &none &none &none &none &none
                                                                &none &none
            >;
        };
    };
};
